nav.ic-breadcrumb{
    background-color: $box-color;
    padding-top: 35px;
    padding-bottom: 35px;
    ol{
        padding:0;
        margin:0;
        background-color: transparent;
        li{
            font-size: 24px;
            font-weight:600;
            color:$secondary !important;
            text-transform: uppercase;
            a{
                color:$secondary;
            }
        }
        .breadcrumb-item+.breadcrumb-item::before {
            display: inline-block;
            padding-right: .5rem;
            color: $secondary;
            content: "//";
        }
    }
}

#choose-opinion{
    h3{

    }
    p{
        font-weight: 300;
    }
    .ic-full-opinion{
        margin-top:30px;
        position: relative;
        img{
            object-fit: cover;
        }
        button{
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            background-color: $primary;
            text-transform: uppercase;
            color:$white;
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            height: 60px;
            line-height: 60px;
            width: 100%;
            padding:0;
            @include transition(background-color .4s ease);
            border-radius: 0;
        }
        &:hover{
            button{
                background-color: $secondary;
            }
        }
    }
}